
<div style="min-height: 525px;">
<p-table [value]="clients" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Clients
            <p-button icon="pi pi-refresh"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adresse</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
        <tr>
            <td>{{client.id}}</td>
            <td>{{client.email}}</td>
            <td>{{client.nom}}</td>
            <td>{{client.prenom}}</td>
            <td ><span *ngIf="client.adresse">{{client.adresse.numero}} {{client.adresse.rue}}, {{client.adresse.codePostale}}
                {{client.adresse.ville}}</span></td>
            <td>
                <p-button icon="pi pi-user-edit" styleClass="p-button-warning" (onClick) = "deleteClient(client.id)"></p-button>

                <p-button icon="pi pi-trash" styleClass="p-button-danger" (onClick) = "deleteClient(client.id)"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            En total {{clients ? clients.length : 0 }} clients.
        </div>
    </ng-template>
</p-table>
</div>
