<p-menubar [model]="items" styleClass="border-noround border-none bg-green-800 text-white">
  <ng-template pTemplate="start">
    <a class="text-white no-underline" routerLink="/articles">MaBoutiqueAuto</a>
  </ng-template>
  <i class="pi pi-fw pi-shopping-cart mr-5 mt-2" style="font-size: 2rem" pBadge value="{{getNbArticles()}}" (click)="afficherPanier()"></i>
  <p-avatar styleClass="mr-3" icon="pi pi-user" shape="circle" size="large" (click)="avatarMenu.toggle($event)"></p-avatar>
  <p-tieredMenu #avatarMenu [model]="items2" [popup]="true"></p-tieredMenu>
</p-menubar>
