<div class="flex justify-content-center">
<form class="form" (ngSubmit)="login()" [formGroup]="userForm">
    <div class="surface-card p-4 shadow-2 border-round w-full">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">Content de vous revoir</div>
            <span class="text-600 font-medium line-height-3">Vous n'avez pas un compte?</span>
            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" [routerLink]="['/auth/register']">Créez-le maintenant!</a>
        </div>

        <div>
            <label for="email" class="block text-900 font-medium mb-2">Email</label>
            <input id="email" type="text" pInputText class="w-full mb-3" formControlName="email">

            <label for="password" class="block text-900 font-medium mb-2">Mot de pass</label>
            <input id="password" type="password" pInputText class="w-full mb-3" formControlName="password">
            <div>
                <p>{{message}}</p>
            </div>
            <div class="flex align-items-center justify-content-between mb-6">
                <div class="flex align-items-center">
                    <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                    <label for="rememberme1" class="text-900">Remember me</label>
                </div>
                <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Mot de passe
                    oublié?</a>
            </div>

            <button pButton pRipple label="Se connecter" icon="pi pi-user" class="w-full bg-green-800 p-button-success"></button>
        </div>
    </div>
</form>
</div>
