<div class="flex justify-content-center m-2">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3 text-blue-500">Mettre à jour les informations client</div>
        </div>
        <form class="form" (ngSubmit)="update()" [formGroup]="editForm">
            <div>
                <label for="email1" class="block text-900 font-medium mb-2">Email</label>
                <input id="email1" type="email" pInputText class="w-full mb-3" formControlName="email">

                <label for="nom" class="block text-900 font-medium mb-2">Nom</label>
                <input id="nom" type="text" pInputText class="w-full mb-3" formControlName="nom">

                <label for="prenom" class="block text-900 font-medium mb-2">Prenom</label>
                <input id="prenom" type="text" pInputText class="w-full mb-3" formControlName="prenom">

                <h5 class="block text-900 font-medium mb-2">ADRESSE :</h5>
                <div formGroupName="adresse">
                    <label for="numero" class="block text-900 font-medium mb-2">Numero</label>
                    <input id="numero" type="number" pInputText class="w-full mb-3" formControlName="numero">

                    <label for="rue" class="block text-900 font-medium mb-2">Rue</label>
                    <input id="rue" type="text" pInputText class="w-full mb-3" formControlName="rue">

                    <label for="codePostal" class="block text-900 font-medium mb-2">Code Postal</label>
                    <input id="codePostal" type="text" pInputText class="w-full mb-3" formControlName="codePostale">

                    <label for="ville" class="block text-900 font-medium mb-2">Ville</label>
                    <input id="ville" type="text" pInputText class="w-full mb-3" formControlName="ville">
                </div>
                <button pButton pRipple label="Modifier" icon="pi pi-user" class="w-full bg-green-800 p-button-success"></button>
            </div>
        </form>
    </div>
</div>
