<div class="card text-center m-3" >
  <div *ngIf="checkPanierVide() === false">
    <p-table [value]="getPanier()" responsiveLayout="scroll" styleClass="mb-2">
      <ng-template pTemplate="header">
        <tr>
          <th>Référence</th>
          <th>Nom</th>
          <th>Marque</th>
          <th>PrixUnitaire</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-article>
        <tr>
          <td>{{article.ref}}</td>
          <td>{{article.nom}}</td>
          <td>{{article.marque}}</td>
          <td>{{article.tarif}}</td>
          <td><button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="deletePiecePanier(article.ref)"></button></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Prix Total : {{ getPrixTotal() > 0 ? getPrixTotal() : 0 }} €
        </div>
      </ng-template>
    </p-table>
    <p-button styleClass="bg-green-800 p-button-success" label="Valider le panier" (onClick)="createCommande()" [disabled]="checkPanierVide()"></p-button>
  </div>
  <div *ngIf="checkPanierVide() === true" class="text-green-800 font-bold text-3xl">Panier vide.</div>
</div>
