<div class="card" style="min-height: 525px;">
  <p-dataView #dv [value]="articles" [paginator]="true" [rows]="12" filterBy="name" layout="grid">
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <span class="p-input-icon-left mb-2 md:mb-0">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Search by Name">
        </span>
      </div>
    </ng-template>
    <ng-template let-article pTemplate="gridItem">
      <div class="col-12 md:col-3">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{article.typePiece}}</span>
            </div>
            <span [class]="'product-badge'">En Stock</span>
          </div>
          <div class="product-grid-item-content">
            <img [src]="'assets/img/' + article.img" [alt]="article.nom" height="180" />
            <div class="product-name">{{article.nom}}</div>
            <div class="product-description">{{article.description}}</div>
            <p-rating [readonly]="true" [cancel]="false"></p-rating>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">€{{article.tarif}}</span>
            <p-button styleClass="bg-green-800 p-button-success" icon="pi pi-shopping-cart" (onClick)="addPanier(article.ref)"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
