.product-grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
  margin: 2rem 0;
}

.product-grid-item .product-grid-item-top, .product-grid-item .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.product-grid-item {
  margin: 0.5em;
  border: 1px solid var(--surface-border);
}

.product-grid-item .product-grid-item-content {
  text-align: center;
}
